<nav id="navigation">
	<%= image_tag "logo-PassionSM", :class => "img-circle"%>
	<div class="container-nav">
		<div class="left-nav">
			<a href="">Griffes</a>
			<a href="">Cilices</a>
			<a href="">Martinets</a>
			<a href="">Bijoux</a>
		</div>
		<div class="right-nav">
			<a href="">À propos</a>
			<a href="">Contact</a>
		</div>
	</div>
</nav>

<section class="banner">
	
</section>

<section class="container-grid-2">
	<div class="card">
		<%= image_tag "NANI2504", :class =>"img-cards"%>
		<div class="text-card">
			<h2> Griffes</h2>
			<p> description blablablabla</p>
			<a href="">Plus d'infos</a>
		</div>
	</div>
	<div class="card">
		<%= image_tag "cilices", :class =>"img-cards"%>
		<div class="text-card">
			<h2> Cilices</h2>
			<p> description blablablabla</p>
		</div>
	</div>
	<div class="card">
		<%= image_tag "martinet-multicolore.JPG", :class =>"img-cards"%>
		<div class="text-card">
			<h2> Martinets</h2>
			<p> description blablablabla</p>
		</div>
	</div>
	<div class="card">
		<%= image_tag "bijoux", :class =>"img-cards"%>
		<div class="text-card">
			<h2> Bijoux</h2>
			<p> description blablablabla</p>
		</div>
	</div>
</section>

<section>
	<div>
		<h1> Griffes </h1>
		<!-- Slideshow container -->
		<div class="slideshow-container">

		  <!-- Full-width images with number and caption text -->
		  <div class="mySlides fade">
		    <div class="numbertext">1 / 3</div>
		    <%= image_tag "banner", :class =>"img-carroussel"%>
		    <div class="text">Caption Text</div>
		  </div>


		  <!-- Next and previous buttons -->
		  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		  <a class="next" onclick="plusSlides(1)">&#10095;</a>
		</div>
		<br>

		<!-- The dots/circles -->
		<div style="text-align:center">
		  <span class="dot" onclick="currentSlide(1)"></span>
		  <span class="dot" onclick="currentSlide(2)"></span>
		  <span class="dot" onclick="currentSlide(3)"></span>
		</div>
				
	</div>
	

	
</section>





