<nav id="navigation">
	<%= image_tag "logo-PassionSM", :class => "img-circle"%>
	<div class="container-nav">
		<div class="left-nav">
			<a href="#griffes">Griffes</a>
			<a href="#cilices">Cilices</a>
			<a href="#martinets">Martinets</a>
			<a href="#bijoux">Bijoux</a>
		</div>
		<div class="right-nav">
			<a href="">À propos</a>
			<a href="">Contact</a>
		</div>
	</div>
</nav>

<section class="banner">
	
</section>

<section class="container-grid-2">
	<div class="card">
		<%= image_tag "NANI2504", :class =>"img-cards"%>
		<div class="text-card">
			<h2> Griffes</h2>
			<p> description blablablabla</p>
			<!-- <a href="">Plus d'infos</a> -->
		</div>
	</div>
	<div class="card">
		<%= image_tag "cilices", :class =>"img-cards"%>
		<div class="text-card">
			<h2> Cilices</h2>
			<p> description blablablabla</p>
		</div>
	</div>
	<div class="card">
		<%= image_tag "martinet-multicolore.JPG", :class =>"img-cards"%>
		<div class="text-card">
			<h2> Martinets</h2>
			<p> description blablablabla</p>
		</div>
	</div>
	<div class="card">
		<%= image_tag "bijoux", :class =>"img-cards"%>
		<div class="text-card">
			<h2> Bijoux</h2>
			<p> description blablablabla</p>
		</div>
	</div>
</section>

<section class="onglets" id="griffes">
		<h1> Griffes </h1>
		<div class="slider-container">
	      <div class="menu">
	        <label for="slide-dot-1"></label>
	        <label for="slide-dot-2"></label>
	        <label for="slide-dot-3"></label>
	      </div>
	      
	      <input class="slide-input" id="slide-dot-1" type="radio" name="slides" checked>
	      <img class="slide-img" src="https://www.codeur.com/tuto/wp-content/uploads/2021/12/slide1.jpg">

	      <input class="slide-input" id="slide-dot-2" type="radio" name="slides">
	      <img class="slide-img" src="https://www.codeur.com/tuto/wp-content/uploads/2021/12/slide2.jpg">
	      
	      <input class="slide-input" id="slide-dot-3" type="radio" name="slides">
	      <img class="slide-img" src="https://www.codeur.com/tuto/wp-content/uploads/2021/12/slide3.jpg">

	    </div>
		<p>
			Matériaux: Acier/inox.
			Finitions possibles: Sablé/brossé/peint.
			Différentes lames possibles: noir/argenté ou lames personnelles.
			Initiales ou logo compris dans le prix.
			Délai de fabrication 4-8 semaines.
			Destiné au knifeplay.
		</p>
				
</section>

<section class="onglets" id="cilices">
		<h1> Cilices </h1>
		<div class="slider-container">
	      <div class="menu">
	        <label for="slide-dot-1"></label>
	        <label for="slide-dot-2"></label>
	        <label for="slide-dot-3"></label>
	      </div>
	      
	      <input class="slide-input" id="slide-dot-1" type="radio" name="slides" checked>
	      <img class="slide-img" src="https://www.codeur.com/tuto/wp-content/uploads/2021/12/slide1.jpg">

	      <input class="slide-input" id="slide-dot-2" type="radio" name="slides">
	      <img class="slide-img" src="https://www.codeur.com/tuto/wp-content/uploads/2021/12/slide2.jpg">
	      
	      <input class="slide-input" id="slide-dot-3" type="radio" name="slides">
	      <img class="slide-img" src="https://www.codeur.com/tuto/wp-content/uploads/2021/12/slide3.jpg">

	    </div>
		<p>
			Matériau : acier inoxydable 1 mm pour les maillons/cuir pour les attaches.
			Délai et livraison : 2 à 3 semaines.

			Assemblage de maillons métalliques pourvus de crochets fabriqués à la main.

			Ils sont destinés à être attachés à différents endroits du corps selon les modèles et envies.

		</p>
				
</section>

<section class="onglets" id="martinets">
		<h1> Martinets </h1>
		<div class="slider-container">
	      <div class="menu">
	        <label for="slide-dot-1"></label>
	        <label for="slide-dot-2"></label>
	        <label for="slide-dot-3"></label>
	      </div>
	      
	      <input class="slide-input" id="slide-dot-1" type="radio" name="slides" checked>
	      <img class="slide-img" src="/images/martinet-multicolore.JPG">

	      <input class="slide-input" id="slide-dot-2" type="radio" name="slides">
	      <img class="slide-img" src="/images/martinet-multicolore.JPG">
	      
	      <input class="slide-input" id="slide-dot-3" type="radio" name="slides">
	      <img class="slide-img" src="/images/martinet-multicolore.JPG">

	    </div>
		<p>
			De beaux martinets.
		</p>
				
</section>

<section class="onglets" id="bijoux">
		<h1> Bijoux </h1>
		<div class="slider-container">
	      <div class="menu">
	        <label for="slide-dot-11"></label>
	        <label for="slide-dot-12"></label>
	        <label for="slide-dot-13"></label>
	      </div>
	      
	      <input class="slide-input" id="slide-dot-11" type="radio" name="slides" checked>
	      <img class="slide-img" src="images/bijoux.jpeg">

	      <input class="slide-input" id="slide-dot-12" type="radio" name="slides">
	      <img class="slide-img" src="images/bijoux.jpeg">
	      
	      <input class="slide-input" id="slide-dot-13" type="radio" name="slides">
	      <img class="slide-img" src="images/bijoux.jpeg">

	    </div>
		<p>
			
		</p>
				
</section>


